# Dependências (O PESADÃO)
node_modules/
*/node_modules/

# Arquivos de Build (Lixo gerado pelo computador)
dist/
build/
*/dist/
*/build/

# Variáveis de Ambiente (Segurança)
.env
*/.env

# Logs e arquivos de sistema
*.log
.DS_Store